
.button {
    margin-top: 30px;
    height: 82px;
    width: 219px;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    background-image: linear-gradient(to top, #ffc800 0%, #ffee00 100%);
    box-shadow: inset 0 -3px 0 rgba(84,0,255, 0.05);
    border-radius: 16px;
    cursor: pointer;
    @media (max-width: 576px) {
        height: 50px;
        width: 160px;
        border-radius: 5px;
    }

    &_text-wrapper{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.36px;
        color: #1F253F;
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
}