
@import "../../style/variables.scss";
.recipe {
    position: relative;
    margin-top: 20px;
    color: $text-color;
    font-family: Roboto;
    padding: 1rem;
    background-color: #FFFAFA;

    &_header {
        margin: 0 auto;
        
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 110%;
        margin: 2.8rem 0 1.68rem 0;
        text-align: center;
        @media (max-width: 576px) {
            font-size: 2.2rem;
        }
    }
    &_subtitle {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 110%;
        margin: 1rem 0 0.46rem 0;
    }
    &_description {
        font-weight: 400;
    }
    &_ingredients-header {
        width: 100%;
        display: table;
        border-collapse: collapse;
        
    }
}

th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    border-collapse: collapse;
    border-bottom: 1px solid #A9A9A9;
}
td {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    text-align: center;
    border-collapse: collapse;
    border-bottom: 1px solid #A9A9A9;
}

img {
    margin: 0 auto;
    max-height: 700px;
    max-width: 700px;
    
}