@import "../../style/variables.scss";

.header-title {
    color: $text-color;
    text-align: center;
    font-family: Roboto;    
    background-color: transparent;
    width: 100%;
    font-size: 4rem;
} 