
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 15px;
    background-color: #808000;
    opacity: 0.9;
    font-family: Roboto;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
    
    &_logo {
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        line-height: 64px;
        font-size: 30px;
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
    
}