@import "../../style/variables.scss";

.search {
    margin: 0 auto 20px auto;
    
    &_wrapper {
        position: relative;
        width: 100%;
        padding: 20px 0;
    }

    &_input {
        width: 100%;
        height: 3rem;
        padding-left: 55px;
        background-color:  #F8F8FF;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 20px;
        font-family: Roboto;
        color: #1F253F;
        @media (max-width: 576px) {
            padding-left: 40px;
            font-size: 16px;
        }
    }
    &_button {
        display: inline-block;
        position: absolute;
        right: .5%;
        bottom: 28%;
        background-color: $main-color;
        height: 38px;
        width: 80px;
        padding: 3px;
        border: none;
        border-radius: 2px;
        box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.14);
        cursor: pointer;
        &:hover {
            background-color: /* #2bbbad */ #963f13;
            transition: 0.5s;
        }
        @media (max-width: 576px) {
            width: 75px;
        }
    }
    &_icon-wrapper {
        position: absolute;
        left: 1%;
        top: 34%;
        width: 30px;
        height: 30px;
    }
}