@import "../../style/variables.scss";

.error {
    background: url(../../images/15.-peapod-404-Page.jpg) center (center / cover) no-repeat;
    max-width: 100%;
    min-height: 100vh;
    padding-top: 1.5em;
    &_wrapper{
        display: flex;
        justify-content: center
    }
    &_message {
        display: block;
        position: relative;
        margin: auto;
        font-family: Roboto;
        color: $text-color;
    }
}